db/*.sql
features/
scripts/backup/
scripts/libsvm-master/
scripts/results/
venv/
all/new/all_*
all/new/uploaded/*
scripts/backup/*
scripts/hist_result/*
scripts/libsvm-master/*
scripts/out_error/*
scripts/python/*
scripts/results//*
scripts/results_rinko/*
all/imported/*
all/log_4_9
all/log
all/*.sh
all/*_exec
all/*_err
